POSTGRES_USER=hoge
POSTGRES_PASSWORD=fuga
POSTGRES_DB=piyo-db

DATABASE_URL="postgresql://hoge:fuga@localhost:5432/piyo-db?schema=public"

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

AUTH_SECRET=

AUTH_TRUST_HOST=true
AUTH_URL=

ADMIN_EMAIL=